body {
    font-family: 'Trebuchet MS', sans-serif;
}

.title-lg {
    font-size: 175%;
}

.title-md, .title {
    color: #03071e;
    font-size: 150%;
}

a {
    color: #dc2f02;
}

.title-sm {
    font-size: 125%;
}

.text-sm {
    font-size: 80%;
}

a, button {
    color: #dc2f02;
}

.text-grey {
    color: #a0a0a0;
}
